@charset "UTF-8";
pre {
	padding:1em;
	border:1px solid;
}

table {
    border-collapse:collapse;
}
table thead tr th {
    text-align:left;
    padding:8px;
    border-bottom:1px solid #999;
}
table tbody tr td {
    padding:8px;
    border-bottom:1px solid #ddd;
}
