<header>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{/}">Spring JPA Sample</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
			<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
					<a class="nav-link text-dark" th:href="@{/}">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" th:href="@{/listUser}">ユーザ一覧</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" th:href="@{/listRole}">ロール一覧</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" th:href="@{/listUserRole}">ロール付与一覧</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" th:href="@{/changePassword}">パスワード変更</a>
				</li>
				<!--初期ユーザ作成時はコメント化-->
				<li class="nav-item">
					<a class="nav-link text-dark" th:href="@{/logout}"><span sec:authentication="principal.displayName"></span>: ログアウト</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</header>